.wrapper
  = render "header"
  .account-page__content
    .account-page__content__head
      会員情報入力
    .account-page__content__form
      = form_for(@user, url: user_registration_path) do |f|
        .account-page__content__form__label
          = f.label "ニックネーム"
          %span.essential
            必須
        .account-page__content__form__input
          = f.text_field :nickname, placeholder: '例）朝活くん', class: "account-page__content__form__input-field"

        .account-page__content__form__label
          = f.label "プロフィール画像"
        .account-page__content__form__input
          = f.file_field :face_image

        .account-page__content__form__label
          = f.label "メールアドレス"
          %span.essential
            必須
        .account-page__content__form__input
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'PC用・携帯用どちらでも可', class: "account-page__content__form__input-field"

        .account-page__content__form__label
          = f.label "パスワード" 
          %span.essential
            必須
        .account-page__content__form__input
          = f.password_field :password, autocomplete: "new-password", placeholder: "７文字以上の半角英数字", class: "account-page__content__form__input-field"
        
        .account-page__content__form__label
          = f.label "パスワード（確認用）"
          %span.essential
            必須
          .account-page__content__form__input
            = f.password_field :encrypted_password, autocomplete: "new-password", placeholder: "７文字以上の半角英数字", class: "account-page__content__form__input-field"
            %p.account-page__content__form__input__message
              ※英字と数字の両方を含めて設定してください

        .identification
          本人確認
        %p.account-page__content__form__message
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        
        .account-page__content__form__label
          = f.label 'お名前(全角)'
          %span.essential
            必須
        .account-page__content__form__input       
          = f.text_field :first_name, placeholder: '佐藤', class: "account-page__content__form__input-field__name"
          = f.text_field :last_name, placeholder: '太郎', class: "account-page__content__form__input-field__name"
        
        .account-page__content__form__label
          = f.label 'お名前カナ(全角)'
          %span.essential
            必須
        .account-page__content__form__input
          = f.text_field :first_name_kana, placeholder: 'サトウ', class: "account-page__content__form__input-field__name"
          = f.text_field :last_name_kana, placeholder: 'タロウ', class: "account-page__content__form__input-field__name" 
        
        
        .account-page__content__form__label
          = f.label '生年月日'
          %span.essential
            必須
        .account-page__content__form__input
          = f.date_select :birthday, {start_year: 2020, end_year: 1900, prompt: "--"} , {class: "account-page__content__form__input-field__birthday"}

        %p.account-page__content__form__text
          ※本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .account-page__content__form__submit
            = f.submit '登録する', class: "account-page__content__form__submit"
  = render "footer"
 