.wrapper
  = render "header"
  .account-page__content
    .account-page__content__signup-head
      未会員の方はこちらからどうぞ
    .account-page__content__signup-btn
      = button_to "新規会員登録", new_user_registration_path, method: :get, class: "account-page__content__signup-btn"
    .account-page__content__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .account-page__content__form__input
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class:"account-page__content__form__input-field" 
          = f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード', class:"account-page__content__form__input-field"
        .account-page__content__form__submit
          = f.submit "ログイン", class: "account-page__content__form__submit"
      = link_to "パスワードをお忘れの方はこちらへどうぞ", "#" , class: "account-page__content__link"
  = render "footer"