.form__contents
  .form__contents__top 
    おはようございます！
    %p 今日も元気よくアウトプットしましょう！
  .form__contents__list
    = form_for @output do |f|
      .form__contents__list__title
        %label.title タイトル
        %span.essential
          必須
        = f.text_field :title, placeholder: "本日の朝活のタイトルを記入してください。", class: "form__field"
      .form__contents__list__type
        %label.title 朝活の種類
        %span.essential
          必須
        = f.collection_select :type_id, Type.all, :id, :name, {prompt: "--"},{class: "form__field"}
      .form__contents__list__image
        .form__contents__list__image__box
          .form__contents__list__image__box__title
            %label.title 画像
            %span.essential
              必須
          .form__contents__list__image__box__text
            こちらに画像を添付してください。
            #image-box
              .previews
                -if @output.persisted?
                  - @output.images.each_with_index do |images, i|
                    = image_tag images.src.url, data: { index: i }, width: "100", height: "100"
              = f.fields_for :images do |i|
                .js-file_group{"data-index" => "#{i.index}"}
                  =i.file_field :src, class: "js-file"
                  .js-remove
                    削除
                -if @output.persisted?
                  = i.check_box :_destroy,{"data-index" => "#{i.index}"}, class: "hidden-destroy"
              -if @output.persisted?
                .js-file_group{"data-index" => "#{@output.images.count}"}
                  = file_field_tag :src, name: "output[images_attributes][#{@output.images.count}][src]", class: "js-file"
                  .js-remove
                    削除
      .form__contents__list__text
        %label.title 投稿内容
        %span.essential
          必須
        = f.text_area :text, placeholder: "本日の朝活の内容を記入してください。", rows: "10", class: "form__field"

      .form__contents__list__submit
        = f.submit "投稿する", class: "form__contents__list__submit__btn"
        = link_to "もどる", root_path, class: "form__contents__list__submit__return" 
      
